<header class="header" role="banner">
	<div class="header-container">
		<div class="site-header">
			{% if pages["_meta"].meta.logo %}
			<div class="site-logo">
				<a href="{{ base_url }}">
					<img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="" width="100" height="100">
				</a>
			</div>
			{% endif %}
			<div class="site-title" {{ pages["_meta"].meta.tagline }}>
				<h1>{{ site_title }}</h1>
				{{ pages["_meta"].meta.tagline|markdown }}
			</div>
		</div>

		<a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false"
				tabindex="1">
			<i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
			<span class="sr-only">Toggle Menu</span>
		</a>
		
		<div class="nav">
			<nav id="nav" role="navigation" tabindex="-1">
				<ul>
					{% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
						<li{% if page.id==current_page.id %} class="active" {% endif %}>
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>
